{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- NEW -->
    <div class="headers mb-2">
        <h2 class="green">fresh of the line</h2>
        <div class="paragraphs">
            <p>Check out our latest releases to secure the most up-to-date upgrades for your setup</p>
            <a href="#"><p class="view-all">View All <span class="green">></span></p></a>
        </div>
    </div>
    <div class="grid-container">
        {% for item in new_items %}
            <div class="card-item">
                <div class="card-image-container">
                    <a href="{{ item.get_absolute_url }}">
                        <img class="card-image" src="{{ item.image.url }}" alt="">
                    </a>
                    <div class="badge {{ item.get_label_display }}-badge">{{ item.get_label_display }}</div>
               </div>
                <div class="card-body">
                    <div class="body-copy">
                        <h3>{{ item.title }}</h3>
                        <p class="summary mb-0">{{ item.summary }}</p>
                    </div>
                    <div class="cta-container">
                        <div class="price">
                            {% if item.discount %}
                                <p>US${{ item.discount }}</p>
                            {% else %}
                                <p>US${{ item.price }}</p>
                            {% endif %}
                            
                        </div>
                        <a href="{{ item.get_absolute_url }}">buy</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="banner my-5">
        <img src="{% static 'images/csm_header_scheucher_parkett_ratscher_landhaus_7838d7e19d.jpg' %}" alt="">
    </div>

    <!-- EXCLUSIVE -->
    <div class="headers mb-2">
        <h2 class="orange">razer exclusives</h2>
        <div class="paragraphs">
            <p>Explore unique products only available at our official online store</p>
            <a href="#"><p class="view-all">View All <span class="green">></span></p></a>
        </div>
    </div>
    <div class="grid-container">
        {% for item in exclusive_items %}
            <div class="card-item">
                <div class="card-image-container">
                    <a href="{{ item.get_absolute_url }}">
                        <img class="card-image" src="{{ item.image.url }}" alt="">
                    </a>
                    <div class="badge {{ item.get_label_display }}-badge">{{ item.get_label_display }}</div>
               </div>
                <div class="card-body">
                    <div class="body-copy">
                        <h3>{{ item.title }}</h3>
                        <p class="summary mb-0">{{ item.summary }}</p>
                    </div>
                    <div class="cta-container">
                        <div class="price">
                            <p>US${{ item.price }}</p>
                        </div>
                        <a href="{{ item.get_absolute_url }}">buy</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="banner my-5">
        <img src="{% static 'images/razer-refurbished-laptops_desktop_1920x400.jpg' %}" alt="">
    </div>
    <div class="headers mb-2">
        <h2 class="blue">razer last chance</h2>
        <div class="paragraphs">
            <p>A curated selection of our classic gear—exclusively priced with full warranty</p>
            <a href="#"><p class="view-all">View All <span class="green">></span></p></a>
        </div>
    </div>
    <div class="grid-container">
        {% for item in discounted_items %}
            <div class="card-item">
                <div class="card-image-container">
                    <a href="{{ item.get_absolute_url }}">
                        <img class="card-image" src="{{ item.image.url }}" alt="">
                    </a>
                    <div class="badge {{ item.get_label_display }}-badge">{{ item.discount_percent|floatformat }}% off</div>
               </div>
                <div class="card-body">
                    <div class="body-copy">
                        <h3>{{ item.title }}</h3>
                        <p class="summary mb-0">{{ item.summary }}</p>
                    </div>
                    <div class="cta-container">
                        <div class="price">
                            {% if item.discount %}
                                <p>US${{ item.discount }}</p>
                                <p class="text-muted mt-1"><strike>US${{ item.price }}</strike></p>
                            {% else %}
                                <p>US${{ item.price }}</p>
                            {% endif %}
                            
                        </div>
                        <a href="{{ item.get_absolute_url }}">buy</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>




{% endblock %}