{% extends 'base.html' %}


{% block content %}

<div class="container mt-5">
    <div class="grid-container">
        {% for item in items %}
            <div class="card-item">
                <div class="card-image-container">
                    <a href="{{ item.get_absolute_url }}">
                        <img class="card-image" src="{{ item.image.url }}" alt="">
                    </a>
                    <div class="badge {{ item.get_label_display }}-badge">{{ item.get_label_display }}</div>
               </div>
                <div class="card-body">
                    <div class="body-copy">
                        <h3>{{ item.title }}</h3>
                        <p class="summary mb-0">{{ item.summary }}</p>
                    </div>
                    <div class="cta-container">
                        <div class="price">
                            {% if item.discount %}
                                <p>US${{ item.discount }}</p>
                            {% else %}
                                <p>US${{ item.price }}</p>
                            {% endif %}
                            
                        </div>
                        <a href="{{ item.get_absolute_url }}">buy</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}