::after, ::before, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: var(--black);
}


.main {
    margin-top: 100px;
}

:root {
    --black: #000000;
    --green: #44d62c;
    --blue: #28aadc;
    --bg-card: #111111;
    --grey-888: #888888;
    --grey-555: #555555;
    --grey-9a9: #9a9a9a;
    --grey-999: #999999;
    --grey-eee: #eeeeee;
    --grey-222: #222222;
    --white: #ffffff;
    --sub-header: #eeeeee;
    --orange: #ff9c07;

}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-card);
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--grey-222);
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--bg-card);
}


.navbar {
    background-color: var(--black);
    border-bottom: 1px solid var(--green);

}



.nav-link {
    color: var(--grey-888);
}

.nav-link:hover {
    color: var(--white);
}

.nav-link:focus {
    color: var(--white);
}

.navbar i{
    color: var(--grey-888);
    font-size: 20px;
}

.shopping-cart {
    position: relative;
    margin-left: 45px;
}
#cart-icon {
    position: relative;
    width: 23px;
    height: 23px;
}

#cart-total {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--green);
    border-radius: 50%;
    top: -3px;
    right: -10px;
    color: var(--black);
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}


.dropdown-menu {
    background-color: var(--grey-222);
    border: 2px solid var(--grey-555);
    width: 290px;
    padding: 16px;
}

.dropdown-container {
    width: 100%;
}

.dropdown-container ul {
    margin: 0.1rem 0;
    padding: 0 1.25rem;
}

.dropdown-container ul :first-child {
    border-top: 0 solid transparent;
}

.dropdown-container ul li {
    border-top: 1px solid var(--grey-555);
    padding: 0.2rem 0.4rem;
}

.dropdown-container ul li a {
    color: var(--white);
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-size: .875rem;
    padding: 0.375rem 0 0.2rem;
    line-height: 26px;
}


.dropdown-container ul li a img {
    margin-right: 10px;
}




.main-btn {
    cursor: pointer;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    border-radius: .1875rem;
    color: var(--black);
    font-size: .875rem;
    height: 2.5rem;
    border: none;
    background-color: var(--green);
    text-transform: uppercase;
    font-weight: 700;
}



@media (max-width: 991.98px) {
    .collapse {
        position: relative;
    }
    .navbar-brand {
        position: absolute;
        top: 5px;
        right: 50%;
    }
}

/* BODY */


.green {
    color: var(--green);
}

.orange {
    color: var(--orange);
}

.blue {
    color: var(--blue);
}


.headers {
    color: var(--grey-eee);
}

.headers h2 {
    margin: 0;
    font-weight: 700;
    font-size: 1.75rem;
    text-transform: uppercase;
}

.paragraphs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paragraphs a {
    color: var(--grey-eee);
    text-decoration: none;
}

.paragraphs a:hover {
    text-decoration: underline;
}

.paragraphs p {
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    font-size: 1.3125rem;
}

.paragraphs .view-all {
    font-size: .875rem;
}

.grid-container {
    display: grid;
    justify-content: space-between;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
}

@media (max-width: 768px) {
    .grid-container {
        justify-content: center;
    }
}

.card-item {
    background-color: var(--grey-222);
    max-height: 480px;
}

.card-image-container {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: flex-end;
    
    background-color: var(--bg-card);
    position: relative;
}


.badge {
    border-radius: 1px;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    padding: 5px 1em;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    left: -10px;
    max-width: 100%;
    position: absolute;
    z-index: 4;
    color: var(--black);
}


.new-badge {
    background-color: var(--green);
}


.new-badge:before {
    border-left: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #008900;
    bottom: -0.3125rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.exclusive-badge {
    background-color: var(--orange);
}


.exclusive-badge:before {
    border-left: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #c37703;
    bottom: -0.3125rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.discount-badge:before {
    border-left: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #065f82;
    bottom: -0.3125rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.discount-badge {
    background-color: var(--blue);
}

.card-image {
    width: 100%;
}



.card-body {
    height: 180px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.card-body .body-copy {
    color: var(--grey-eee);
}

.card-body .body-copy h3 {
    font-size: 1.125rem;
    line-height: 25px;
    font-weight: 400;
}

.body-copy .summary {
    text-align: left;
    font: .875rem;
    font-weight: 300;
    color: var(--grey-888);
    line-height: 1.3;
}

.card-body .cta-container {
    display: flex;
    justify-content: space-between;
    color: var(--grey-eee);
    align-items: center;
}

.cta-container .price p {
    margin: 0;
    color: var(--grey-eee);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}


.card-body .cta-container a {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--black);
    font-weight: 700;
    background-color: var(--green);
    text-transform: uppercase;
    text-decoration: none;
}


.banner {
    width: 100%;
    object-fit: cover;
}

.banner img {
    object-fit: cover;
    width: 100%;
}



/* LOGIN PAGE */



.auth-container {
    width: 400px;
    background-color: var(--grey-222);
    padding: 40px;
    color: var(--white);
}

.auth-container .form-group {
    margin-bottom: 1rem;
}

.auth-container .login :nth-child(2) label {
    display: none;
    outline: none;
}

.auth-container .login :nth-child(3) label {
    display: none;
}

.auth-container button {
    width: 100%;
}

.auth-container .signup label {
    display: none;
}



.background-wrapper {
    height: 80vh;
}


.forgot-password  {
    text-align: right;
}

.forgot-password a {
    color: var(--grey-eee);
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.registration-heading {
    color: var(--grey-eee);
    font-size: 22px;
    
}

.auth-container .form-control {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid var(--grey-eee);
    color: var(--grey-eee);
}

.auth-container .form-control:focus {
    border: 1px solid var(--green);
}


.auth-container .alert {
    background-color: transparent;
    border: none;
}

/* DETAIL VIEW */

.detail-image {
    width: 100%;
    border: 1px solid var(--grey-222);
}


.product-detail h2 {
    font-size: 1.3125rem;
    line-height: 1.1em;
    font-weight: 400;
}

.small-image {
    height: 250px;
}

.product-detail h3 {
    font-size: .875rem;
    color: var(--white);
    line-height: 1.2;
    font-weight: 400;
    margin-top: 0.5rem;
}

.product-detail .detail-price {
    font-size: 1.3125rem;
    color: var(--white);
    font-weight: 400;
}

.product-detail .detail-description {
    margin-top: 2.1875rem;
    font-size: .875rem;
    padding-bottom: 1.5rem;
    color: var(--grey-9a9);
}

.add-to-cart-btn {
    margin-top: 11px;
    border-radius: .1875rem;
    color: var(--black);
    font-size: .875rem;
    font-weight: 700;
    background-color: var(--green);
    white-space: nowrap;
    text-transform: uppercase;
    padding-left: .625rem;
    padding-right: .625rem;
    height: 2.5rem;
    border: 0;
    text-overflow: ellipsis;
    width: 100%;
}



/* PRODUCT ADDED */


.product-added {
    align-items: center;
    color: var(--grey-eee);
}
.product-added-image {
    width: 100%;
}

/* CART PAGE */

.cart-item-image {
    max-width: 100%;
    max-height: 100%;
}


.cart-quantity {
    display: flex;
    align-items: center;
}

.cart-quantity {
    color: var(--grey-eee);
}

.g888 {
    color: var(--grey-888);
}

@media (max-width: 767.98px) {
    .cart-info-container {
        display: flex;
        flex-direction: column;
    }
}

.cart-info-container {
    justify-content: space-between;
}


.sub-header-text {
    color: var(--grey-eee);
}

.cart-description {
    color: var(--grey-9a9);
    font-size: 14px;

}

.cart-header {
    background-color: var(--grey-222);
    align-items: center;    
}

.cart-item-total {
    color: var(--grey-eee);
    font-size: 1.125rem;
    line-height: 1.2em;
}

.without-discount {
    font-size: 14px;
    color: var(--grey-999);
    line-height: 17px;

}

.remove-link {
    color: var(--grey-888);
}

.total-row a {
    text-decoration: none;
}


.remove-link:hover {
    text-decoration: underline;
}

.empty-cart {
    color: var(--grey-eee);
}


.cart-header-left {
    text-align: left;
    color: var(--white);
}



.cart-header-right {
    text-align: right;
    color: var(--white);
}


.cart-header-right .main-btn {
    margin-left: 20px;
}



/* CHECKOUT */



.checkout-form .form-field {
    border-radius: 0.25rem;
    line-height: 1.125;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: normal;
    background-color: transparent;
    text-align: left;
    width: 100%;
    padding: 0;
}




.checkout-form .form-field .form-control {
    border: 1px solid var(--grey-999);
    outline: none;
    background-color: transparent;
    max-width: 100%;
    padding: 12px 14px;
    font-size: .875rem;
    color: var(--grey-eee);
}


.checkout-form .form-field .form-control:focus {
    box-shadow: none;
    border: 1px solid var(--green);
}

.form-header {
    font-size: 1.3125rem;
    line-height: 1.1;
    font-weight: 400;
    color: var(--white);
}

.checkout-form .form-help-text {
    font-size: 14px;
    color: var(--grey-999);
    margin-bottom: 1rem;
    line-height: 1.2;
    font-weight: 400;
}


.checkout-form .form-dropdown {
    width: 100%;
}

.checkout-form .form-dropdown select {
    appearance: none;
}



#id_shipping_country,
#id_billing_country {
    max-width: 100%;
    background-color: transparent;
    color: var(--grey-999);
    padding: 12px 14px;
    border-radius: .25rem;
}

.checkout-form .custom-checkbox {
    color: var(--grey-eee);
}

.checkout-form .radio-btn {
    color: var(--grey-eee);
}


.order-preview {
    width: 600px;
    background-color: var(--grey-222);
    padding: 20px;
    color: var(--grey-eee);

}

.preview-subtotal .subtotal {
    display: flex;
    justify-content: space-between;
}


.order-preview p {
    margin: 0;
    color: var(--grey-999);
}


.order-preview h3, h4 {
    color: var(--grey-eee);
}

.order-preview .order-preview-total {
    display: flex;
    justify-content: space-between;
}


.order-preview .order-preview-shipping {
    display: flex;
    justify-content: space-between;
}



.order-summary-cart {
    background-color: var(--grey-222);
    padding: 40px;
    margin-top: 50px;
    border-radius: 5px;
}

.order-summary-title {
    color: var(--white);
    font-weight: 400;
    font-size: 1.3125rem;
    margin-bottom: 0.3125rem;
}

.order-summary-subtitle {
    color: var(--white);
    font-size: 14px;
    border-bottom: 2px solid var(--white);
    margin-bottom: 35px;
    line-height: 48px;
    vertical-align: middle;
}

.order-summary-text {
    color: var(--grey-999);
}

.order-summary-field {
    display: flex;
    justify-content: space-between;
}


/* REQUEST REFUND */
.refund-form {
    background-color: transparent;
    
}

.refund-form .form-control {
    background-color: transparent;
    border: 1px solid var(--green);
    color: #555555;
}


table {
    width: 100%;
    text-align: center;
    border: none;
    font-size: 14px;
}

thead {
    border: 1px solid var(--grey-999);
    color: var(--white);
}

th {
    border-right: 1px solid var(--grey-222);
    font-weight: 400;
    padding-bottom: 8px;
    padding-top: 8px;
}

td {
    color: var(--grey-999);
    border-bottom: 1px solid var(--grey-999);
    padding-bottom: 8px;
    padding-top: 8px;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(5) {
    width: 18%;
}

.orders-header {
    color: var(--grey-999);
}
